div {
  background: white;
  padding: 20px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1.1em;
  margin-bottom: 5px;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}
